<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
</head>
<body>
<form action="{% url 'newpage' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="username" required placeholder="enter the username"><br>
    <input type="password" name="password" required placeholder="enter the password"><br>
    <input type="submit"><br>

</form>
 <a href="{% url 'register' %}">Register</a><br>
<!--<a href="{% url 'forms' %}">New form</a>-->


</body>
</html>